.nav-bar{
    background-color: #00BF00;
}

.bucket{
    font-size: 20px;
}

.search-btn{
    background-color: #008100 !important;
    border: none !important;
}

.nav-bar-link-comp{
    text-decoration: none;
    color: #fff;
}

.nav-bar-link-comp:hover{
    color :#063700;
}
