.side-bar{
    background-image: linear-gradient(100deg,#00BF00,#02e084);
    height: 100vh;
    position: sticky ;
    top:0;
}

.content-sec{
    background-color: rgb(216, 216, 216);
    width: 100%;
}

.navgation-bar{
    background-color: #02e084;
    height: 10vh;

}

.admin-content{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}

.admin-profile-pic{
    background-color: rgb(0, 0, 255);
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.notification-icon{
    font-size: 30px;
}

.side-bar-icon{
    font-size: 20px;
}

#user-icon{
    font-size: 25px;
}

.sidebar-links{
    text-decoration: none;
    color: black;
}